h1 {
    background-color: rgba(53, 47, 47, 0.767);
    color: #dfdfdf;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(53, 47, 47, 0.767);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(223, 126, 126);
  }